@font-face {
    font-family: 'Untitled Serif';
    src: url('../fonts/UntitledSerif-Medium.eot');
    src: url('../fonts/UntitledSerif-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/UntitledSerif-Medium.woff2') format('woff2'),
        url('../fonts/UntitledSerif-Medium.woff') format('woff'),
        url('../fonts/UntitledSerif-Medium.ttf') format('truetype'),
        url('../fonts/UntitledSerif-Medium.svg#UntitledSerif-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Untitled Serif';
    src:url('../fonts/UntitledSerif-MediumItalic.woff2') format('woff2'),
        url('../fonts/UntitledSerif-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Untitled Serif';
    src: url('../fonts/UntitledSerif-Bold.eot');
    src: url('../fonts/UntitledSerif-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/UntitledSerif-Bold.woff2') format('woff2'),
        url('../fonts/UntitledSerif-Bold.woff') format('woff'),
        url('../fonts/UntitledSerif-Bold.ttf') format('truetype'),
        url('../fonts/UntitledSerif-Bold.svg#UntitledSerif-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Untitled Serif';
    src:url('../fonts/UntitledSerif-BoldItalic.woff2') format('woff2'),
        url('../fonts/UntitledSerif-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Surveyor Text';
    src: url('../fonts/SurveyorText-Black.eot');
    src: url('../fonts/SurveyorText-Black.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SurveyorText-Black.woff2') format('woff2'),
        url('../fonts/SurveyorText-Black.woff') format('woff'),
        url('../fonts/SurveyorText-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}